@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

$font-main: 'Nunito', sans-serif;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

header {
  margin-bottom: 2em;
}

.wrapper {
  flex-grow: 1;
}

.navbar {
  box-shadow: 1px 3px 4px 1px #0000001f;
  padding: 1em;
}

.navbar-brand {
  font-family: $font-main;
  font-size: .95em;
  padding: .25em 0;
  text-transform: uppercase;
  font-weight: 600;
  i {
    padding-right: 1em;
    color: #505050;
    transform: scale(1.5);
  }
}

.link-admin {
  width: 10em;
}

.link-admin-cont {
  font-size: .75em;
  text-align: right;
  a {
    color: #000;
    text-decoration: none;
  }
}

.menu {
  display: inline;
}

.container-fluid {
  display: flex;
}

.menu-item {
  font-size: .75em;
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1em;
  a {
    color: #000;
    text-decoration: none;
  }
}

.item-group.numb {
  margin: 0;
  &> input {
    border: none;
    width: 2em;
  }
}

input[data-param] {
  display: none;
}

.request-form label {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover {
    background: #eee;
  }
}

td.td-numb {
  width: 4em;
  text-align: center;
}

tr th {
  padding: .5rem .75rem !important;
}

td.td-btn {
  width: 4em;
  text-align: right;
}

.list-drop {
  display: none;
}

input.error {
  box-shadow: inset 0 0 2px 1px #ff000038;
  border: 1px solid red;
}

.error-message {
  font-size: .65em;
  padding: .35em 0 0;
  color: red;
}


thead tr {
  border-radius: 10px;
  background: #ececec;
  border-bottom: 1px solid #dadada;
  th {
    color: #191919;
    text-transform: uppercase;
    padding: .85rem .75rem !important;
    font-size: .75em;
    border: 1px solid #dcdcdc;
    border-bottom: none;
  }
}

table {
  border-radius: 3px;
  overflow: hidden;
}



